<p>
  <b>Name:</b>
  <%=h @material.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @material.description %>
</p>

<p>
  <b>File:</b>
  <%=h @material.file %>
</p>


<%= link_to 'Edit', edit_material_path(@material) %> |
<%= link_to 'Back', materials_path %>